@import url('https://fonts.googleapis.com/css?family=Abel');

* {
  font-family: 'Abel', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* End default */

.bottom {
  /* tbd get that data input some room though */
}

.card {
  width: 243px;
  display: inline-block;
  height: 150px;
  text-align: center;
  border: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.cell {
  display: inline;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.colorBox {
  display: inline;
  font-size: 9pt;
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 6px;
}

.colorsContainer {
  width: 60%;
  line-height: 18pt;
  margin: 0 auto;
}

.colorsContainerPie {
  width: 65%;
  line-height: 18pt;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  width: 85%;
}

.customizationButton {
  width: 77%;
  margin-top: 18px;
}

.customizationCard {
  width: 30%;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  height: 305px;
  text-align: center;
  overflow-y: scroll;
}

.customizationCardPie {
  width: 45%;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  height: 305px;
  text-align: center;
  overflow-y: scroll;
}

.customizationHeader {
  margin: 10px auto 6px auto;
  text-align: center;
}

.customizationInput {
  width: 75%;
  text-align: center;
}

.customizationPane {
  margin: 0 auto;
  width: 80%;
  height: 360px;
}

.customizationPaneHeader {
  text-align: center;
}

.customizationPanePie {
  margin: 0 auto;
  width: 47%;
  height: 360px;
}

.danger {
  color: #FF0000;
  font-weight: bold;
}

.embedCode {
  width: 100%;
  margin: 30px auto;
  height: 70px;
  overflow-y: scroll;
  font-size: 10pt;
  border-color: black;
  border: solid;
  border-width: 0.6px;
  border-radius: 5px;
  overflow-wrap: break-word;
  font-family: monospace;
  cursor: pointer;
}

.left {
  float: left;
}

.nav {
  width: 85%;
  margin: 0 auto 15px auto;
  height: 50px;
}

.navButton {
  position: relative;
  top: 0px;
  height: 50px;
  width: 25%;
  border-color: white;
  border-width: 0.25px;
  border-right: solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
  color: white;
  background-color: black;
  font-size: 11pt;
  cursor: pointer;
}

.navButtonDead {
  position: relative;
  top: 0px;
  height: 50px;
  width: 50%;
  border-color: white;
  border-width: 0.25px;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: none;
  color: white;
  background-color: black;
  font-size: 17pt;
}

.navButtonRight {
  position: relative;
  top: 0px;
  height: 50px;
  width: 25%;
  border-color: white;
  border-width: 0.25px;
  border-right: none;
  border-left: solid;
  border-top: none;
  border-bottom: none;
  color: white;
  background-color: black;
  font-size: 11pt;
  cursor: pointer;
}

.previewContainer {
  height: 170px;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  display: inline-block;
}

.previewHeader {
  height: 8px;
  position: relative;
  top: 0;
}

.previewImg {
  border-color: black;
  border: solid;
  border-width: 1px;
  width: 125px;
  border-radius: 5px;
}

.previewImgContainer {
  position: relative;
  margin: 25px auto auto auto;
  width: 150px;
}

.right {
  float: right;
}

.row {
  display: block;
}

.table {
  max-height: 220px;
  width: 275px;
  overflow-y: scroll;
  margin: 0 auto;
}

.tableHead {
  float: left;
  display: inline-block;
  width: 98px;
  padding-left: 16px;
  margin-bottom: 2px;
  text-align: left;
}

.smallHead {
  font-weight: bold;
  font-size: 9pt;
  display: block;
  margin-top: 6px;
  margin-bottom: 2px;
}

.smallHeadInline {
  font-weight: bold;
  font-size: 9pt;
  display: inline;
  margin-top: 6px;
  margin-bottom: 2px;
  margin-right: 5px;
}

/* COLORS LIST */

.lightBlue {
  color: #0080FF;
  background-color: #0080FF;
}

.cyan {
  color: #00FFFF;
  background-color: #00FFFF;
}

.blue {
  color: #0000FF;
  background-color: #0000FF;
}

.purple {
  color: #8000FF;
  background-color: #8000FF;
}

.magenta {
  color: #FF00FF;
  background-color: #FF00FF;
}

.redPink {
  color: #FF0080;
  background-color: #FF0080;
}

.red {
  color: #FF0000;
  background-color: #FF0000;
}

.orange {
  color: #FF8000;
  background-color: #FF8000;
}

.yellow {
  color: #FFFF00;
  background-color: #FFFF00;
}

.lightGreen {
  color: #80FF00;
  background-color: #80FF00;
}

.green {
  color: #00FF00;
  background-color: #00FF00;
}

.weirdGreen {
  color: #00FF80;
  background-color: #00FF80;
}

/* END COLORS LIST */
