.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  margin: 15px auto;
  width: 85%;
}

.row {
  display: block;
}

.cell {
  display: inline;
}

.table-head {
  display: inline-block;
  width: 131px;
  padding-left: 1px;
  margin-bottom: 2px;
}

.card {
  width: 243px;
  display: inline-block;
  height: 150px;
  text-align: center;
  border: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.previewImg {
  border-color: black;
  border: solid;
  border-width: 1px;
  width: 125px;
  border-radius: 5px;
}

.previewContainer {
  height: 170px;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  display: inline-block;
}

.previewHeader {
  height: 8px;
  position: relative;
  top: 0;
}

.previewImgContainer {
  position: relative;
  margin: 25px auto auto auto;
  width: 150px;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.nav {
  background-color: black;
  width: 85%;
  margin: 0 auto;
  height: 50px;
}

.navButton {
  position: relative;
  height: 100%;
  width: 25%;
  border-color: white;
  border-width: thin;
  border-right: solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
  color: white;
  background-color: black;
  font-size: 11pt;
}
