@import url('https://fonts.googleapis.com/css?family=Abel');

* {
  font-family: 'Abel', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width: 243px;
  display: inline-block;
  height: 150px;
  text-align: center;
  border: solid;
  border-color: black;
  border-width: 1px;
  margin: 5px;
  overflow: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.cell {
  display: inline;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.container {
  margin: 15px auto;
  width: 85%;
}

.customizationCard {
  width: 200px;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  height: 305px;
  text-align: center;
}

.customizationHeader {
  margin: 10px auto 6px auto;
  text-align: center;
}

.customizationInput {
  width: 75%;
  text-align: center;
  /* border-radius: 5px; */
}

.customizationPane {
  margin: 0 auto;
  max-width: 80%;
  height: 360px;
}

.customizationPaneHeader {
  text-align: center;
}

.left {
  float: left;
}

.nav {
  width: 85%;
  margin: 0 auto;
  height: 50px;
}

.navButton {
  position: relative;
  top: 0px;
  height: 50px;
  width: 25%;
  border-color: white;
  border-width: thin;
  border-right: solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
  color: white;
  background-color: black;
  font-size: 11pt;
  cursor: pointer;
}

.navButtonDead {
  position: relative;
  top: 0px;
  height: 50px;
  width: 50%;
  border-color: white;
  border-width: thin;
  border-right: solid;
  border-left: none;
  border-top: none;
  border-bottom: none;
  color: white;
  background-color: black;
  font-size: 17pt;
}

.previewContainer {
  height: 170px;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  display: inline-block;
}

.previewHeader {
  height: 8px;
  position: relative;
  top: 0;
}

.previewImg {
  border-color: black;
  border: solid;
  border-width: 1px;
  width: 125px;
  border-radius: 5px;
}

.previewImgContainer {
  position: relative;
  margin: 25px auto auto auto;
  width: 150px;
}

.right {
  float: right;
}

.row {
  display: block;
}

.table {
  max-height: 220px;
  width: 265px;
  overflow-y: scroll;
}

.tableHead {
  display: inline-block;
  width: 131px;
  padding-left: 1px;
  margin-bottom: 2px;
}

.smallHead {
  font-weight: bold;
  font-size: 9pt;
  display: block;
  margin-top: 6px;
  margin-bottom: 2px;
}

.colorBox {
  display: inline;
  font-size: 9pt;
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 6px;
}

.lightBlue {
  color: #0080FF;
  background-color: #0080FF;
}

.cyan {
  color: #00FFFF;
  background-color: #00FFFF;
}

.blue {
  color: #0000FF;
  background-color: #0000FF;
}

.purple {
  color: #8000FF;
  background-color: #8000FF;
}

.magenta {
  color: #FF00FF;
  background-color: #FF00FF;
}

.redPink {
  color: #FF0080;
  background-color: #FF0080;
}

.red {
  color: #FF0000;
  background-color: #FF0000;
}

.orange {
  color: #FF8000;
  background-color: #FF8000;
}

.yellow {
  color: #FFFF00;
  background-color: #FFFF00;
}

.lightGreen {
  color: #80FF00;
  background-color: #80FF00;
}

.green {
  color: #00FF00;
  background-color: #00FF00;
}

.weirdGreen {
  color: #00FF80;
  background-color: #00FF80;
}

.colorsContainer {
  width: 68%;
  line-height: 18pt;
  margin: 0 auto;
}
